body {
  font-family: sans-serif;
}

.header {
  font-size: 200%;
  font-weight: bold;
  height: 1em;
  background-color: lightblue;
  padding: 0.8em;
}

td {
  vertical-align: top;
}

.code {
  font-family: monospace;
}

#controls {
  float: left;
}
