#mainCanvas {    
    display:block;
    position:absolute;
    width: 100%;
    height: auto;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    margin-top:40px;
    overflow: hidden;
}

.navbar-nav li a {
	padding-top: 10px;
	padding-bottom: 9px;
}

.export-link {
    color: #fff;
}

.export-link:hover {
    color: #999;
}

.export-link .glyphicon {
	margin-right: 4px;
    font-size: 12px;
}

.navbar-left-block .vertical-line {
	float: left;
	margin-right: 0px;
}

#search {
    position: absolute;
    left: 20px;
    top: 58px;  
    width: 400px;
    box-shadow: 1px 1px 6px #ccc;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon span.icon-search {
    position: absolute;
    padding: 7px 10px;    
}

.icon-search {
    background: url("../img/icon_search_lupa.png") no-repeat 8px 8px;
}

.item-path {
    float: left;
    max-width: 100%;
    word-wrap: break-word;
}

.item-type {
    float:right;
}

.item-button {
    float:right;
}

.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}


#toolbar {
    position: absolute;
    left:20px;
    bottom:20px;
}

#toolbar .btn-group {
    box-shadow: 1px 1px 6px #ccc;
}

.box-over-graph {
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 1px 1px 6px #ccc;
}

#options {
    position: absolute;    
    top: 58px;
    right: 20px;        
    height: 40px;
    width:100px;
    overflow: hidden;
}

#options #collapseOptionsBtn {
    padding: 10px;
    cursor: pointer;
    background: #fff;
}

/* Hack kvuli scrollbaru v tabech - osklive, napevno */
#options #optionsPane {
    position: relative;
    padding: 10px;
    height: 495px;
}
/* Hack kvuli scrollbaru v tabech - osklive, napevno */
#options #optionsPane .tab-pane{
    position: absolute;
    top: 60px;
    padding: 10px;
    bottom: 0;
    right: 0;
    left: 0;
    overflow:auto;
}

#options #optionsPane .options-pane-content {
    overflow: auto;
    max-height: 350px;
}

#detail {
    position: absolute;
    top: 130px;
    left: 20px;
    width: 400px;
    height: 30px;    
}

#detail #collapseDetailContentBtn {
    padding: 3px 10px;
    cursor: pointer;
}

#detail #collapseDetailContentBtn .glyphicon-chevron-up {
	vertical-align: top;
}

#detail #collapseDetailContentBtn .glyphicon-chevron-down {
    vertical-align: middle;
}

#detail .header {
    width: 350px;
    padding-right: 20px;
    overflow: hidden;
    white-space: nowrap;
}

#detail .content {
    padding: 10px;
    height: 290px;
    overflow: auto;
}

#detail .footer {
    position: absolute;
    bottom:10px;
    right: 10px;
}

.node-detail-item {
    min-height: 20px;
    padding: 5px 0;
}

.node-detail-item .node-detail-item-label {
    float: left;
    width: 110px;
    padding-right: 5px;
    word-wrap: break-word;    
}

.node-detail-item .node-detail-item-value {
    float: left;
    width: 69%;
    padding-right: 20px;
    word-wrap: break-word;
}

.node-detail-item .node-detail-item-value button,
.node-detail-item .node-detail-item-label button,
#detail .header button {
    margin-top: 2px;
    font-size: 15px;
}

.attribute-value-new {
	color: #0b9211;
}
.attribute-value-deleted {
	color: #bd3733;
}

#contextMenu {
    position: absolute;
    display: none;
    z-index: 100;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.slider {
    margin: 10px 10px 50px;
}

.slider label {
    position: absolute;
    width: 20px;
    margin-top: 20px;
    margin-left: -10px;
    text-align: center;
    font-weight: normal;
}

.divider {
    border-top: 1px solid #ececec;
    margin-top: 20px;
    margin-bottom: 10px;
}

#messages, #messagesConfig {
    position: absolute;
    top: 58px;
    left: 20px;
    right: 20px;
}

#messagesConfig {
    z-index: 1;
}

.modal-header {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/** Collapse settings */
.collapse-settings-caption {
	font-weight: bold;
	border-bottom: 1px solid #ececec;
	margin-bottom: 5px;
}

.collapse-settings-row {
	height: 25px;
}

.collapse-settings-name {
	float: left;
	width: 238px;
	font-weight: bold;
}

.collapse-settings-check {
	float: left;
	width: 15px;
	margin-left: 15px;
}

/** Krizek v dialogu se zobrazuje spatne, zatim ho proste vyhodim */
.bootstrap-dialog-close-button {
    visibility: hidden;
}

/** OHNUTI BOOTSTRAP */

/** Proc tohle bootstrap dela, mi neni jasny... */
.checkbox input[type="checkbox"] {
    margin-left: 0 !important;;
}

/** OHNUTI JQUERY UI --------------*/

.ui-menu .ui-menu-item a.ui-state-focus {
    background-image: url("../img/autocomplete_selected_row.png");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    filter: none;
}

.ui-menu .ui-menu-item a.ui-state-focus .text-muted{
    color: #ffffff;    
}

.ui-menu .ui-menu-item a.ui-state-selected {
    background-image: url("../img/autocomplete_selected_row.png");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    filter: none;
    opacity: 0.5;
}

.ui-menu .ui-menu-item a.ui-state-selected .text-muted{
    color: #ffffff;    
}

.ui-menu .ui-menu-item a.ui-state-selected .item-name{
    color: #ffffff;    
}

/* Rozsireni prilis uzkych scrollbaru v nahledu zdrojovehu kodu */
#editorDialog .CodeMirror-simplescroll-horizontal {
  bottom: 0; left: 0;
  height: 16px;
}

#editorDialog .CodeMirror-simplescroll-vertical {
  right: 0; top: 0;
  width: 16px;
}

/* Vycentrovani prohlizece zdrojoveho kodu */
#editorDialog .modal-body {
    text-align: center;
}
/* Vycentrovani prohlizece zdrojoveho kodu - je nutne zajistit, aby byl vycentrovan pouze prohlizec v okne, nikoliv text (radky kodu) v prohlizeci */
#editorDialog .CodeMirror {
    text-align: left;
    display: inline-block;
}

/* Zarovnani pole pro vyhledavani ve zdrojovem kodu doprava, kvuli prekryvani radku kodu */
#editorDialog .CodeMirror-dialog.CodeMirror-dialog-top {
    text-align: right;
    padding-right: 24px;
}
