body {
    padding-top: 35px;
}
.form-body {
    padding: 10px 15px;    
}

#tree {
    font-size: 14px;
    overflow: auto;
    height: 100%;
}

#tree-view {
    min-height: 500px;
}

input#depth {
    width: 40px;
    margin-top: 5px;
}

.slider {
    display: block;
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.settings-box {
    margin-bottom: 15px;
    min-height: 115px;
    padding-top: 10px;
    height:125px;
}

.vizualize-box {
	background-color: #ececec;
	padding-top: 39px;
}

.item-path {
	float: left;
	max-width: 100%;
	word-wrap: break-word;
}

.item-type {
    float:right;
}

.item-button {
    float:right;
}

.ui-autocomplete {
    max-height: 500px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.box-content {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
    padding: 10px;
    min-height: 40px;
    cursor: default;
}

.box-header {
    position: relative;
    border-radius: 4px 4px 0 0;
    background-color: #ececec;
    padding: 5px;
    margin-top: 10px;
    text-align: center;    
    font-size: 18px;    
}

.box-header h4{
    color: #bd3632;
}

.box-content .selected-item {
    margin: 10px 0;
}

.box-content .selected-item img{
    margin-top: -3px;
}

.drop-active {
    border-color: #bd3632;
}

.row {
    margin-top: 30px;
}

.border-top {
    border-top: 1px solid #ececec;
}

.border-right {
    border-right: 1px solid #ececec;
}

.border-full {
    border: 1px solid #ececec;
}

.control {
    padding: 10px 0;
}

.node-detail-item {
    min-height: 20px;
    padding: 5px 0;
}

.node-detail-item .node-detail-item-label {
    float: left;
    width: 30%;
    padding-right: 8px;
}

.node-detail-item .node-detail-item-value {
    float: left;
    width: 69%;
    padding-right: 20px;
}

.node-detail-item .node-detail-item-value .node-detail-item-value-text {
	float: left;
	width: 90%;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon span.icon-search {
    position: absolute;
    padding: 7px 10px;    
}

.icon-search {
    background: url("../img/icon_search_lupa.png") no-repeat 8px 8px;
}

.icon-compare, .icon-compare-active {
	width: 26px;
	height: 26px;
	cursor: pointer;
	float: left;
	margin: 4px 15px 0px 15px;
}

.icon-compare {
    background: url("../img/icon_compare.png") no-repeat 0px -26px;
}

.icon-compare-active, .icon-compare:hover {
    background: url("../img/icon_compare.png") no-repeat 0px 0px;
}

#navbar-revision .btn {
	margin-top: 3px;
	padding: 3px 12px;
}

#navbar-revision .bootstrap-select {
	float: left;
}

.enable-help {
    cursor: pointer;
}

.icon-help {
    background: url("../img/icon_help.png") no-repeat 50% 50%;
    padding-left: 25px;
    display: inline;
}

.divider {
    border-top: 1px solid #ececec;
    margin-top: 20px;
    margin-bottom: 10px;
}

#remove-all {
    position: absolute;
    right: 11px;
    top: 17px;
}

#direct-add {
    position: absolute;
    left: 11px;
    top: 11px;
}

.direct-add-dialog .modal-dialog {
    width: 900px;
}

.navbar-revision-welcome-page {
	margin-top:4px !important;
}

/** OHNUTI BOOTSTRAP --------------*/
#node-detail-placeholder button.close, #selected-nodes button.close {
    font-size: 16px;
}

/** Proc tohle bootstrap dela, mi neni jasny... */
.checkbox input[type="checkbox"] {
    margin-left: 0 !important;;
}

/** OHNUTI JQUERY UI --------------*/

.ui-menu .ui-menu-item a.ui-state-focus {
    background-image: url("../img/autocomplete_selected_row.png");
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    background-size: 100% 100%;
    filter: none;
}

.ui-menu .ui-menu-item a.ui-state-focus .text-muted{
    color: #ffffff;    
}

/** OHNUTI JSTREE -----------------*/
.jstree-default .jstree-wholerow {
    height: 24px;
}

.jstree-default .jstree-wholerow-hovered {
    background: #ececec !important;
}

.jstree-default .jstree-wholerow-clicked {
    background: #ddd !important;
}